<template>
    
    <div class='widget-market-menu-filters-settings'>

        <widget-labeled class='filter-row' label='Region'>
            <input-with-options 
                @load='regions_load'
                :debounce='500' 
                :error='region.error'
                :loading='region.loading'
                :options='region.items' 
                ref='region'
                v-model='region.id'
                value_key='id'
                remote/>
        </widget-labeled>

        <widget-labeled class='filter-row' label='System'>
            <input-with-options 
                @load='systems_load'
                :debounce='500' 
                :error='system.error' 
                :loading='system.loading'
                :options='system.items'
                ref='system'
                v-model='system.id'
                value_key='id'
                remote/>
        </widget-labeled>

        <widget-labeled class='filter-row' label='Station'>
            <input-with-options 
                @load='stations_load'
                :debounce='500' 
                :error='station.error' 
                :loading='station.loading'
                :options='station.items' 
                ref='station'
                v-model='station.id'
                value_key='id'
                remote/>
        </widget-labeled>

        <div :class="['widget-market-menu-filters-settings-controls', {mobile: mobile}]">
            <button @click='clear' id='clear'>Clear</button>
            <button @click='apply' class='blue' id='apply'>Apply</button>
        </div>

    </div>

</template>


<script>

import InputWithOptions from '@/components/elements/inputs/InputWithOptions'
import WidgetLabeled from '@/components/elements/widgets/WidgetLabeled'

import { 
    api_get_universe_get_regions, 
    api_get_universe_get_stations,
    api_get_universe_get_systems,
} from '@/api/universe.js'

export default {
    
    components: {
        'input-with-options': InputWithOptions,
        'widget-labeled': WidgetLabeled,
    },

    computed: {
        filters_changed: function() {

            let check_keys = ['region', 'station', 'system']

            for (let key of check_keys) {
                if (this.filters[key] != this[key].id) {
                    return true
                }
            }

            return false

        }
    },

    created: function() {
        this.regions_load()
        this.stations_load()
        this.systems_load()
    },

    data: function() {

        return {

            region: {
                id: null,
                items: [],
                error: false,
                loading: false,
                source: null,
            },

            station: {
                id: null,
                items: [],
                error: false,
                loading: false,
                source: null,
            },

            system: {
                id: null,
                items: [],
                error: false,
                loading: false,
                source: null,
            },
            
        }

    },

    methods: {

        apply: function() {

            this.filters.enabled = Boolean(this.region.id || this.station.id || this.system.id)

            this.filters.region = this.region.id
            this.filters.station = this.station.id
            this.filters.system = this.system.id

            this.$emit('apply', this.filters)

        },

        cancelable_request: function(func, search_string, data) {

            let canceled_by_user = 'Operation cancel by user'
            if (data.source) data.source.cancel(canceled_by_user)

            data.error = null
            data.loading = true

            let [request, source] = func(search_string)
            data.source = source

            request.then(response => {
                data.items = response.data
                data.error = null
                data.loading = false
            })

            request.catch(error => {

                console.log(data)

                if (this.axios.isCancel(error) && error.message === canceled_by_user) {
                    return // It means search query was changed and now we are loading new
                } else {
                    data.error = error.message
                    data.loading = false
                    throw(error)
                }

            })

        },

        clear: function() {

            this.filters.enabled = false

            this.$refs.region.search_string = ''
            this.$refs.station.search_string = ''
            this.$refs.system.search_string = ''

        },

        regions_load: function(search_string) {
            this.cancelable_request(api_get_universe_get_regions, search_string, this.region,)
        },

        stations_load: function(search_string) {
            this.cancelable_request(api_get_universe_get_stations, search_string, this.station)
        },

        systems_load: function(search_string) {
            this.cancelable_request(api_get_universe_get_systems, search_string, this.system)
        }

    },

    props: ['filters']

}

</script>

<style lang="scss">

@import '~@/styles/variables.scss';

.widget-market-menu-filters-settings {

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 100%;

    .widget-market-menu-filters-settings-controls {

        &.mobile {

            button {
                font-size: $input-fontsize-mobile;
                height: $input-height-mobile;
            }

        }

        button {

            height: $input-height;
            margin-top: 25px;
            width: 25%;

            &#apply {
                float: right;
            }

            &#clear {
                float: left;
            } 

        }

    }

}

</style>
