<template>
    <div :class="['widget-market-menu', {mobile: mobile}]">

        <div :class="['menu-filters', {seaching: search.string}]">
            
            <input-clearable  
                class='widget-market-menu-search-query'
                :placeholder="'Search'" 
                :debounce='500'
                v-model='search.string'/>

            <div v-if='filters' class='widget-market-menu-filters-buttons'>

                <a :class="['filters-settings', {active: filters_settings, mobile: mobile}]" 
                    href='javascript:;'
                    v-on:click='filters_settings = !filters_settings'>
                    <i class='material-icons'>tune</i>
                </a>

                <a :class="['filters-toggle', {active: filtering, mobile: mobile}]" 
                    href='javascript:;'
                    v-on:click="$emit('update:filtering', !filtering)">
                    <i class='material-icons'>{{ filtering ? 'toggle_on' : 'toggle_off' }}</i>
                </a>

            </div>

            <progress-line 
                :error='search.error' 
                :show="search.loading" 
                :trigger='search.string'
                class='widget-market-menu-filters-progress-line'/>

        </div>

        <div class='menu-container'>
           
            <div v-if='!(loading || error)' class='menu-container-wrapper'>

                <vue-scroll :ops='scroll_config'>

                    <div v-show='filters && filters_settings' class='menu-container-filters'>
                        <slot name='filters'/>
                    </div>

                    <widget-tree-menu v-show='!(filters && filters_settings)'
                        @item='item_select'
                        :items='search.items'
                        :groups='search.string ? [] : menu' 
                        :selected='selected'/>

                </vue-scroll>

            </div>

            <progress-bar v-else-if='loading'/>
            <widget-error v-else :error='error'/>

        </div>

    </div>
</template>

<script>

import axios from 'axios';

import { api_get_assets_item_types } from '@/api/assets.js'
import { api_get_item_market_menu } from '@/api/market.js'

import InputClearable from '@/components/elements/inputs/InputClearable'
import ProgressBar from '@/components/elements/ProgressBar';
import ProgressLine from '@/components/elements/ProgressLine';
import WidgetError from '@/components/elements/WidgetError';
import WidgetTreeMenu from '@/components/elements/widgets/treemenu/WidgetTreeMenu'

export default {

    components: {
        'input-clearable': InputClearable,
        'progress-bar': ProgressBar,
        'progress-line': ProgressLine,
        'widget-error': WidgetError,
        'widget-tree-menu': WidgetTreeMenu,
    },

    created: function() {

        api_get_item_market_menu()

            .then(response => {
                
                this.menu = response.data

                this.error = null
                this.loading = false

            })
            
            .catch(error => {
                this.error = error
                this.loading = false
                throw error
            })

    },

    data: function() {
        return {
            error: false,
            filters_settings: false,
            loading: true,
            menu: [],
            search: {
                error: null,
                items: [],
                loading: false,
                source: null,
                string: '',
            },
            selected: null,
        }
    },

    methods: {

        item_select: function(item) {
            this.selected = item
            this.$emit('select', item.id)
        },

        items_search_loading: function() {
            
            let canceled_by_user = 'Operation cancel by user'
            if (this.search.source) this.search.source.cancel(canceled_by_user)

            if (!this.search.string) {
                this.search.error = null
                this.search.loading = false
                return
            }

            this.search.error = null
            this.search.loading = true

            this.filters_settings = false

            let [request, source] = api_get_assets_item_types(this.search.string)
            this.search.source = source

            request.then(response => {

                this.search.items = response.data

                this.search.error = null
                this.search.loading = false

            })

            request.catch(error => {

                if (this.axios.isCancel(error) && error.message === canceled_by_user) {
                    return // It means search query was changed and now we are loading new
                } else {
                    this.search.error = error
                    this.search.loading = false
                    throw(error)
                }

            })

        }

    },

    props: {
        filters: {default: false, type: Boolean},
        filtering: {default: false, type: Boolean},
        name: {},
    },

    watch: {

        'search.string': function(value) {
            if (!value) this.search.items = []
            this.items_search_loading()
        }

    }

}

</script>

<style lang="scss">

@import '~@/styles/variables.scss';

.widget-market-menu {

    display: flex;
    flex-direction: column;
    height: 100%;

    .menu-container {

        flex: 1;
        position: relative;

        .menu-container-wrapper {
            height: 100%;
            position: absolute;
            width: 100%;
        }

    }

    .menu-filters {

        border-bottom: 2px solid $white-alpha-25;
        display: flex;
        position: relative;

        &.seaching {
            border-bottom: 2px solid $blue-alpha-50;
        }

        .widget-market-menu-filters-buttons {

            display: flex;

            a.filters-settings, a.filters-toggle {

                color: $white-alpha-25;
                display: block;
                height: $input-height;
                outline: none;
                overflow: hidden;
                width: $input-height;

                &.active {
                    color: $blue;
                }

                &.mobile {

                    height: $input-height-mobile;
                    width: $input-height-mobile;

                    i {
                        font-size: $material-icon-fontsize-mobile;
                        height: $input-height-mobile;
                        width: $input-height-mobile;
                    }

                }

                i {
                    align-items: center;
                    display: flex;
                    font-size: $icon-menu-font-size;
                    justify-content: center;
                    height: $input-height;
                    width: $input-height;
                }

            }

            a.filters-toggle i {
                transform: rotate(-90deg);
            }

        }

        .widget-market-menu-filters-progress-line {
            bottom: -2px;
        }

        .widget-market-menu-search-query {

            flex: 1;

            input {
                background-color: transparent;
                border: 0px;
                width: 100%;
            }

        }

    }

}

</style>
