<template>
    
    <div :class="['widget-modal-window-background', {mobile: mobile}]">

        <window 
            :apply='apply'
            :closable='closable'
            :title='title' 
            class='widget-modal-window-window'
            v-on:apply="$emit('apply')"
            v-on:close="$emit('close')">

            <slot>
                {{ content }}
            </slot>

        </window>

    </div>

</template>


<script>

import Window from '@/components/elements/Window'

export default {
    
    components: {
        'window': Window,
    },

    props: {
        apply: Boolean,
        closable: Boolean,
        content: {},
        title: String,
    }

}

</script>


<style lang="scss">

@import '~@/styles/variables.scss';

.widget-modal-window-background {

    align-items: center;
    background-color: $black-pure-alpha-25;
    display: flex;
    justify-content: center;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;

    .widget-modal-window-window {
        background-color: $black-pure-alpha-90;
        max-height: 75%;
        max-width: 75%;
    }

}

.widget-modal-window-background.mobile {

    .widget-modal-window-window {
        background-color: $black;
        height: 100%;
        left: 0px;
        max-height: unset;
        max-width: unset;
        position: fixed;
        top: 0px;
        width: 100%;
    }

}

</style>
