<template>
    
    <ul class='widget-pagination'>

        <li class='widget-pagination-page'>
            <a 
                :class="['widget-pagination-page-link', {disabled: page <= 1}]" 
                href='javascript:;' 
                v-on:click="page <= 1 ? null : $emit('page', 1)">
                <slot name='prev'>
                    <i class='material-icons'>first_page</i>
                </slot>
            </a>
        </li>

        <li class='widget-pagination-page'>
            <a 
                :class="['widget-pagination-page-link', {disabled: page <= 1}]" 
                href='javascript:;' 
                v-on:click="page <= 1 ? null : $emit('page', page - 1)">
                <slot name='prev'>
                    <i class='material-icons'>chevron_left</i>
                </slot>
            </a>
        </li>

        <li v-for='page_index in page_range' :key='page_index' class='widget-pagination-page'>

            <a 
                :class="['widget-pagination-page-link', 'widget-pagination-page-index', {active: page_index == page}]"  
                href='javascript:;' 
                v-on:click="$emit('page', page_index)">
                {{ page_index }}
            </a>

        </li>


        <li class='widget-pagination-page'>
            <a 
                :class="['widget-pagination-page-link', {disabled: page >= pages}]" 
                href='javascript:;' 
                v-on:click="page >= pages ? null : $emit('page', page + 1)">
                <slot name='prev'>
                    <i class='material-icons'>chevron_right</i>
                </slot>
            </a>
        </li>

        <li class='widget-pagination-page'>
            <a 
                :class="['widget-pagination-page-link', {disabled: page >= pages}]" 
                href='javascript:;' 
                v-on:click="page >= pages ? null : $emit('page', pages)">
                <slot name='prev'>
                    <i class='material-icons'>last_page</i>
                </slot>
            </a>
        </li>

    </ul>

</template>


<script>

export default {

    computed: {

        page_range: function() {

            let range = []
            for (let i = this.range_from; i <= this.range_to; i++) {
                range.push(i)
            }
            return range

        },

        range_from: function() {

            if (!this.size) return 1;
            let range_from = this.page - this.range_shift

            if (range_from > 1 && range_from > this.pages - this.size) {
                return this.pages > this.size ? this.pages - this.size + 1 : 1
            }

            return range_from > 0 ? range_from : 1
        },

        range_shift: function() {
        
            if (this.size % 2 == 0) {
                return this.size / 2
            } else {
                return Math.floor( this.size / 2 )
            }

        },

        range_to: function() {

            if (!this.size) return this.pages;
            let range_to = this.range_from + this.size - 1
            return range_to <= this.pages ? range_to : this.pages

        },

    },

    props: ['page', 'pages', 'size']

}

</script>


<style lang="scss">

.widget-pagination {

    align-items: center;
    display: flex;
    margin: 0px;
    justify-content: center;

    .widget-pagination-page {
        list-style: none;
    }

}

</style>
