<template>
    
    <window :class="['widget-scopes-required', {mobile: mobile}]" :error='true'>

        <p class='widget-scopes-required-required-message'>
            you should be logged in with permissions:
        </p>

        <p v-for='scope in scopes' :key='scope' class='widget-scopes-required-required-scope'>
            {{ scope }}
        </p>

    </window>

</template>


<script>

import Window from '@/components/elements/Window'

export default {

    components: {
        'window': Window,
    },

    props: {
        scopes: {default: function() {return []}}
    }

}

</script>


<style lang="scss">

@import '~@/styles/tabs.scss';

.window.widget-scopes-required {

    height: 75%;
    margin: auto;
    max-width: 500px;
    width: 75%;

    .window-content {

        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        padding: 0 25px;
        width: 100%;

        p {

            margin: 0px;
            overflow: hidden;
            text-align: center;
            text-overflow: ellipsis;
            width: 100%;

            &.widget-scopes-required-required-scope {
                color: $blue;
                line-height: 25px;
                white-space: nowrap;
            }

        }

    }

}

.window.widget-scopes-required.mobile {
    height: 100%;
    max-width: unset;
    width: 100%;
}

</style>
