<template>
    
    <div class='widget-expandable'>

        <button :class="['widget-expandable-expander', {expanded: expand_state}]" v-on:click='expand_state = !expand_state'>

            <i class='material-icons'>chevron_right</i>

            <slot name='expander'>
                <p class='text-large'>{{ label }}</p>
            </slot>

        </button>

        <div v-show='expand_state' class='widget-expandable-content'>
            <slot/>
        </div>

    </div>

</template>


<script>
export default {
    
    created: function() {
        this.expand_state = this.expanded ? this.expanded : false;
    },

    data: function() {
        return {
            expand_state: false,
        }
    },

    props: ['label', 'expanded']

}
</script>


<style lang="scss">

@import '~@/styles/variables.scss';

$widget-sxpandable-h: 35px;

.widget-expandable {

    width: 100%;

    button.widget-expandable-expander {

        align-items: center;
        background-color: transparent;
        border-bottom: 2px solid transparent;
        height: $widget-sxpandable-h;
        display: flex;
        width: 100%;

        &:hover {
            background-color: transparent;
            color: inherit;
        }

        &.expanded {

            border-bottom: 2px solid $blue;

            i {
                transform: rotate(90deg);
            }

        }

        i {
            align-items: center;
            display: flex;
            font-size: 25px;
            justify-content: center;
            transition: transform 0.5s;
            height: $widget-sxpandable-h;
            width: $widget-sxpandable-h;
        }

        p {
            margin: 0px;
            text-transform: capitalize;
        }

    }

}

</style>
