<template>
    
    <div class='widget-labeled'>

        <div class='widget-labeled-label'>
            <slot name='label'>
                <p class='text-small'>{{ label }}</p>
            </slot>
        </div>

        <div class='widget-labeled-content'>
            <slot>
                <p class='text-small'>{{ content }}</p>
            </slot>
        </div>

    </div>

</template>


<script>

export default {
    props: ['content', 'label']
}

</script>


<style lang="scss">

.widget-labeled {

    margin-bottom: 20px;

    p {
        margin: 0px;
    }

}

</style>
