<template>
    
    <div :class="['widget-page-with-menu', {mobile: mobile}]">

        <div v-show='!mobile || mobile && menu' :class="['widget-page-with-menu-menu', {mobile: mobile}]">
            <slot v-show='menu' name='menu'/>
        </div>

        <div v-show='!mobile || mobile && !menu' class='widget-page-with-menu-content'>
            <slot name='content'/>
        </div>

        <button v-if='mobile'
            class='widget-page-with-menu-trigger text-medium'
            v-on:click="menu = !menu">
            {{ menu ? content_title : menu_title }}
        </button>

    </div>

</template>


<script>
export default {
    
    created: function() {
        this.menu= this.menu_default
    },

    data: function() {
        return {
            menu: true,
        }
    },

    props: {
        content_title: {default: 'Content'},
        menu_default: {default: true, type: Boolean},
        menu_title: {default: 'Menu'}
    }

}
</script>


<style lang="scss">

@import '~@/styles/variables.scss';

.widget-page-with-menu {

    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;

    .widget-page-with-menu-trigger {

        height: $input-height-mobile;

        &, &:hover {
            background-color: $black-dark;
            color: $white;
        }

    }

    .widget-page-with-menu-menu {

        background-color: $black-pure-alpha-75;
        height: 100%;
        min-width: $menu-min-width;
        overflow: hidden;
        width: 25%;

        &.mobile {
            width: 100%;
        }

    }

    .widget-page-with-menu-content {
        flex: 1;
    }

}

.widget-page-with-menu.mobile {

    flex-direction: column;

    .widget-page-with-menu-menu, 
    .widget-page-with-menu-content {
        flex: 1;
    }


}

</style>
