<template>

    <widget-page-with-menu :class="['market-orders', {mobile: mobile}]" 
        content_title='Orders' 
        ref='market'>

        <widget-market-menu
            :filtering.sync='filters.enabled'
            class='market-orders-menu'
            slot='menu'
            v-on:select='item_load($event)' 
            filters>

            <widget-market-menu-filters slot='filters' 
                :filters='filters'
                v-on:apply='menu_off'/>

        </widget-market-menu>

        <tabs
            :class="['market-orders-orders', {mobile: mobile}]" 
            :options='{ useUrlFragment: false }'
            slot='content'>

            <tab v-for='orders_group in orders_groups'
                :id='orders_group' 
                :key='orders_group' 
                :name='orders_group'
                :ref='orders_group'>

                <div v-if='error || loading' class='market-orders-orders-states'>
                    <widget-error v-if='error' :error='error'/>
                    <progress-bar v-else></progress-bar>
                </div>

                <div v-show='(!error && !loading)' class='tab-content'>

                    <template v-if='item.info'>

                        <scopes-required v-if='missed_scopes(orders_group)' 
                            :scopes='missed_scopes(orders_group)'/>

                        <template v-else>

                            <div class='market-orders-header'>
                                <item-info :item='item.info'/>
                                <orders-opportunity @reload='orders_reload'/>
                            </div>

                            <div class='market-orders-tables'>

                                <orders-table v-for="order_type in ['sell', 'buy']" :key='order_type'
                                    :item_id='item.info.id' 
                                    :filters='filters'
                                    :orders_group='orders_group'
                                    :orders_type='order_type'
                                    ref='orders_table'
                                    class='market-orders-table'/>

                            </div>

                        </template>

                        

                    </template>

                </div>

            </tab>

        </tabs>

    </widget-page-with-menu>

</template>

<script>

import {Tab, Tabs} from 'vue-tabs-component';

import ItemInfo from '@/components/elements/ItemInfo'
import OrdersOpportunity from '@/components/pages/orders/OrdersOpportunity'
import OrdersTable from '@/components/pages/orders/OrdersTable'
import ProgressBar from '@/components/elements/ProgressBar'
import WidgetError from '@/components/elements/WidgetError'
import WidgetMarketMenu from '@/components/elements/widgets/market/WidgetMarketMenu'
import WidgetMarketMenuFiltersSettings from '@/components/elements/widgets/market/WidgetMarketMenuFiltersSettings'
import WidgetPageWithMenu from '@/components/elements/widgets/WidgetPageWithMenu'
import WidgetScopesRequired from '@/components/elements/widgets/WidgetScopesRequired'

import { api_get_assets_item_type } from '@/api/assets.js'
import { api_character_missed_scopes } from '@/api/character.js'

export default {

    components: {
        'item-info': ItemInfo,
        'orders-opportunity': OrdersOpportunity,
        'orders-table': OrdersTable,
        'progress-bar': ProgressBar,
        'scopes-required': WidgetScopesRequired,
        'tab': Tab,
        'tabs': Tabs,
        'widget-error': WidgetError,
        'widget-market-menu': WidgetMarketMenu,
        'widget-market-menu-filters': WidgetMarketMenuFiltersSettings,
        'widget-page-with-menu': WidgetPageWithMenu,
    },

    created: function() {
        let item_id = this.$route.query.item || 44992  // 44992 is plex
        this.item_load(item_id) 
    },

    data: function() {
        return {
    
            filters: {
                enabled: false,
                region: null,
                station: null,
                system: null,
            },

            item: {
                info: null,
                source: null,
            },

            error: null,
            loading: false,

            orders_groups: ['market', 'character', 'corporation'],

            scopes: {
                character: 'esi-markets.read_character_orders.v1',
                market: null,
                corporation: 'esi-markets.read_corporation_orders.v1',
            }

        }
    },

    methods: {

        item_load: function(item_id) {

            this.$router.push({query: {item: item_id}})

            let canceled_by_user = 'Operation cancel by user'
            if (this.item.source) this.item.source.cancel(canceled_by_user)

            this.error = null
            this.loading = true

            this.menu_off()

            let [request, source] = api_get_assets_item_type(item_id)
            this.item.source = source

            request.then(response => {

                this.item.info = response.data

                this.error = null
                this.loading = false

            })

            request.catch(error => {

                if (this.axios.isCancel(error) && error.message === canceled_by_user) {
                    return // It means search query was changed and now we are loading new
                } else {
                    this.error = error
                    this.loading = false
                    throw(error)
                }
                
            })

        },

        menu_off: function() {
            if (this.$refs.market) this.$refs.market.menu = false
        },

        orders_reload: function() {
            for (let ref of this.$refs.orders_table) ref.orders_load(ref.page)
        },

        missed_scopes: function(orders_group) {

            if (!this.scopes[orders_group]) return null

            let missed_scopes = api_character_missed_scopes(this.$auth.user(), this.scopes[orders_group])  
            return missed_scopes.length ? missed_scopes : null

        }

    },

}

</script>

<style lang="scss">

@import '~@/styles/tabs.scss';

.market-orders {

    background-image: url('/static/img/market_background.jpeg');
    background-position: center, center;
    background-size: cover;
    display: flex;
    height: 100%;
    width: 100%;

    .tabs-component.market-orders-orders {

        .market-orders-orders-states {
            height: 100%;
            width: 100%;
        }

        .tabs-component-tabs .tabs-component-tab a.tabs-component-tab-a {
            text-transform: capitalize;
        }

        .tab-content {

            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: 10px;
            position: absolute;
            width: 100%;

            .market-orders-header {
                display: flex;
                min-height: max-content;
            }

            .market-orders-tables {

                display: flex;
                flex-direction: column;
                height: 100%;
                overflow: hidden;

                .market-orders-table {

                    box-sizing: border-box;
                    padding-top: 10px;

                    &.expanded {
                        flex: 1;
                    }

                }

            }

        }

    }

}

.market-orders.mobile {

    background-size: auto;

    .tabs-component.market-orders-orders.mobile {

        .tab-content {

            background-color: $black-pure-alpha-75;
            padding: 0px;

            .market-orders-tables {

                @media (orientation: landscape) {
                    flex-direction: row;
                }

                @media (orientation: portrait) {
                    flex-direction: column;
                }

                .market-orders-table {
                    padding-top: 0px;
                }

            }

        }
        
    }

}

</style>