<template>
    
    <div :class="['orders-table', {expanded: expanded, mobile: mobile}]">

        <div class='expander text-large'>

            <div class='toogle' v-on:click='expanded = !expanded'>

                <i :class="['material-icons', {expanded: expanded}]">
                    {{ mobile ? 'close' : 'keyboard_arrow_right' }}
                </i>

                <p class='orders-table-expander-type'>{{ orders_type }}</p>
                <p v-if='mobile && !expanded' class='orders-table-expander-counter'>
                    {{ orders_total > 0 ? `count: ${orders_total}` : 'no orders' }}
                </p>

            </div>

            <orders-table-controls v-if='expanded' @page='orders_load' :page='page' :pages='pages'/>
            
        </div>

        <orders-table-body v-show='expanded'
            @sort='orders_sort'
            :desc='desc' 
            :error='error'
            :field='field'
            :loading='loading'
            :orders='orders'
            :orders_blue='orders_character'
            :orders_yellow='orders_corporation'
        />

    </div>

</template>


<script>

import OrdersTableBody from '@/components/pages/orders/OrdersTableBody';
import OrdersTableControls from '@/components/pages/orders/OrdersTableControls';

import { api_get_character_orders, api_get_character_orders_list } from '@/api/character.js'
import { api_get_corporation_orders } from '@/api/corporation.js'
import { api_get_market_orders } from '@/api/market.js'

export default {

    components: {
        'orders-table-body': OrdersTableBody,
        'orders-table-controls': OrdersTableControls,
    },

    computed: {

        orders_character: function() {

            if (this.$auth.check() && this.orders_group == 'market' || this.orders_group == 'corporation') {
                return this.orders.filter(el => el.character == this.$auth.user().id).map(el => el.id)
            } 

            return []

        },

        orders_corporation: function() {

            if (this.$auth.check() && this.orders_group == 'market' || this.orders_group == 'character') {
                return this.orders
                    .filter(el => el.character == this.$auth.user().id && el.corporation == this.$auth.user().corporation)
                    .map(el => el.id)
            } 

            return []

        },

    },

    created: function() {
        this.orders_load()
        this.expanded = !this.mobile
    },

    data: function () {
        return {
            desc: true,
            error: null,
            expanded: true,
            field: 'price',
            loading: false,
            orders: [],
            orders_total: 0,
            page: 1,
            pages: 1,
        }
    },

    methods: {

        orders_load: function(page=1) {

            if (this.loading) return

            let func, request

            if (this.orders_group == 'market') { 
                func = api_get_market_orders 
            }

            if (this.orders_group == 'character') {
                if (this.$auth.check()) func = api_get_character_orders 
            }

            if (this.orders_group == 'corporation') {
                if (this.$auth.check()) func = api_get_corporation_orders
            }
            
            if (!func) { return }
            
            this.error = null
            this.loading = true

            let filters = this.filters.enabled ? this.filters : null
            func(this.item_id, page, this.orders_type == 'buy', this.field, this.desc, filters)

                .then(response => { 
                
                    this.orders = response.data

                    this.page = Number(response.headers['x-page-current'])
                    this.pages = Number(response.headers['x-pages'])

                    this.orders_total = Number(response.headers['x-data-count'])

                    this.error = null
                    this.loading = false

                })
                
                .catch(error => {
                    this.error = error
                    this.loading = false
                })

            return request

        },

        orders_sort: function(field, desc) {
            if (this.loading) return
            this.field = field
            this.desc = desc
            this.orders_load(this.page)
        },

    },

    props: ['item_id', 'filters', 'orders_group', 'orders_type'],

    watch: {

        item_id: function() {
            this.orders_load()
        },

        filters: {
            deep: true,
            handler: function() {
                this.orders_load()
            }
        }

    }

}

</script>

<style lang='scss'>

@import '~@/styles/variables.scss';

.orders-table {

    display: flex;
    flex-direction: column;
    overflow: hidden;

    .expander {

        align-items: center;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        height: 30px;
        user-select: none;

        .orders-table-table-controls.disabled {
            pointer-events: none;
        }

        .toogle {

            align-items: center;
            display: flex;
            flex: 1;
            height: 100%;

            &:hover {
                background-color: $white-alpha-75;
                color: $black-text;
            }

            i {

                float: left;
                transition: transform 0.5s;

                &.expanded {
                    transform: rotate(90deg);
                }

            }

            p {
                flex: 1;
                margin: 0;
                text-transform: capitalize;
            }

        }

    }

}

.orders-table.mobile {

    display: flex;
    justify-content: center;

    &.expanded {
        background-color: $black-dark;
        bottom: 0px;
        flex-direction: column;
        height: 100%;
        position: fixed;
        top: 0px;
        width: 100%;
    }

    &:not(.expanded) {
        
        @media screen and (orientation: landscape) {
            height: 100%;
            width: 50%;
        }

        @media screen and (orientation: portrait) {
            height: 50%;
            width: 100;
        }

        .expander {

            background-color: $black-pure-alpha-75;
            border: 1px solid $white-alpha-10;
            flex: 1;
            margin: 10px;

            .toogle {

                flex-direction: column;
                justify-content: center;

                i {
                    display: none;
                }

                p {

                    flex: unset;
                    text-align: center;

                    &.orders-table-expander-counter {
                        color: $grey;
                        font-size: $input-fontsize-mobile;
                    }
                    
                    &.orders-table-expander-type {
                        font-size: 30px;
                    }

                    
                }

            }

        }

    }

    .expander {

        .toogle:hover {
            background-color: transparent;
            color: inherit;
        }

    }

}

</style>