<template>      
    <div class='table-view'>

        <progress-bar v-if='loading'/>
        <widget-error v-else-if='error' :error='error'/>
        <div v-else-if='!orders.length' class='no-orders'>No orders</div>

        <div v-else-if='orders.length' class='scroll-area'>

            <vue-scroll :ops='scroll_config'>

                <table>

                    <thead>
                        <tr>

                            <th v-for='head in headers' :key='head.id' 
                                :class="[head.id, {sorted: head.id == field}]">

                                <div class='header-wrapper'>
                                    <a href='javascript:;' v-on:click='$emit(`sort`, head.id, !desc)'>
                                        {{ head.name }}
                                    </a>

                                    <div class="arrows">

                                        <a href='javascript:;'>
                                            <i :class="{'material-icons': true, active: head.id == field && !desc}"
                                                v-on:click='$emit(`sort`, head.id, false)'>arrow_drop_up</i>
                                        </a>

                                        <a href='javascript:;'>
                                            <i :class="{'material-icons': true, active: head.id == field && desc}"
                                                v-on:click='$emit(`sort`, head.id, true)'>arrow_drop_down</i>
                                        </a>

                                    </div>
                                </div>

                            </th>

                        </tr>
                    </thead>

                    <tbody>

                        <tr v-for='order in orders' :key='order.id'
                            :class="['text-small', {blue: orders_blue.includes(order.id), yellow: orders_yellow.includes(order.id)}]">

                            <td class="text-center">{{ order.volume_remain }}/{{ order.volume_total }}</td>
                            <td class="text-right">{{ Number(order.price).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}).split(',').join(' ') }} ISK</td>
                            <td>{{ order.region_name }} > {{ order.system_name }} > {{ order.station_name }}</td>
                            <td>{{ order_expires(order) }}</td>

                        </tr>
                        
                    </tbody>
                </table>

            </vue-scroll>

        </div>

    </div>
</template>


<script>

import ProgressBar from '@/components/elements/ProgressBar';
import WidgetError from '@/components/elements/WidgetError';

export default {

    components: {
        'progress-bar': ProgressBar,
        'widget-error': WidgetError,
    },

    data: function () {
        return {
            headers: [
                { id: 'volume_remain',      name: 'Quantity', },
                { id: 'price',              name: 'Price', },
                { id: 'station',            name: 'Location', },
                { id: 'expires_date',       name: 'Expires in', }
            ]
        }
    },

    methods: {

        order_expires: function(order) {

            let expire = this.$moment.utc(order.expires_date)

            let diff = expire.diff(this.$moment.utc())
            let duration = this.$moment.duration(diff)

            let days = Math.floor(duration.asDays())
            let hours = duration.hours()
            let minutes = duration.minutes()
            let seconds = duration.seconds()

            return `${days}D ${hours}H ${minutes}M ${seconds}S`

        }
    },

    props: {
        desc: { default: false }, 
        error: { default: null }, 
        field: {},
        loading: { default: false },
        orders: { default: function() {return []} },
        orders_blue: { default: function() {return []} },
        orders_yellow: { default: function() {return []} },
    },

}

</script>


<style lang="scss">

@import '~@/styles/variables.scss';

.table-view {

    background-color: $black-pure-alpha-50;
    border: 1px solid $black-pure-alpha-50;
    box-sizing: border-box;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
    position: relative;

    @media (min-width: 600px) {

        .expires_date {
            width: 15%;
        }

        .price {
            width: 25%;
        }

        .station {
            // width 45%;
        }

        .volume_remain {
            width: 15%;
        }

    }

    .scroll-area {

        flex: 1;
        height: 100%;
        overflow: hidden;
        position: relative;

        table {

            border-collapse: collapse;
            table-layout: fixed;
            min-width: 400px;
            width: 100%;

            tr {

                td {
                    height: 20px;
                }

                td, th {
                    overflow: hidden;
                    padding: 0 10px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                th {

                    height: 35px;

                    p {
                        margin: 0px;
                    }

                }

            }

            tbody {

                position: relative;

                tr {

                    cursor: pointer;

                    &:hover {
                        background-color: $white-alpha-75 !important;
                        color: $black-text;
                    }

                    &.blue {
                        background-color: $blue-alpha-50;
                    }

                    &.yellow {
                        background-color: $yellow-alpha-25;
                    }

                }

            }

            thead {

                tr {

                    th {

                        background-color: $black-pure-alpha-25;
                        padding: 0 10px;
                        position: relative;

                        &:not(:last-child) {
                            border-right: 2px solid $white-alpha-10;
                        }

                        .header-wrapper {

                            display: flex;
                            justify-content: center;

                            a:hover {
                                color: $blue;
                            }

                            .arrows {

                                display: inline-flex;
                                flex-direction: column;
                                justify-content: center;
                                width: 0px;

                                i {

                                    align-items: center;
                                    color: $white-alpha-10;
                                    display: flex;
                                    height: 10px;
                                    justify-content: center;
                                    overflow: hidden;
                                    width: 15px;

                                    &:hover {
                                        color: $white-alpha-75;
                                    }

                                    &.active {
                                        color: $white-alpha-75;
                                    }

                                }

                            }

                        }

                    }

                }

            }

        }

    }
    
    .no-orders {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        width: 100%;
    }

}

</style>
