<template>

    <div class='table-orders-controls'>

        <div class='group' v-if='false'>
            
            <span class='title text-medium'>Per page</span>

            <div class='control'>
                <button v-for='item in per_page_items' :key='item.name'
                    @click='change_per_page(item.value)'
                    :class='{primary: item.value == per_page}'>
                    {{ item.name }}
                </button>
            </div>

        </div>

        <div v-if='pages > 1' class='group'>

            <span class='title text-medium'>Page</span>

            <paginate
                :page='page'
                :pages="pages"
                :size='mobile ? 3 : 7'
                class='control text-medium'
                v-on:page="$emit('page', $event)"
            />

        </div>

    </div>

</template>

<script>

import paginate from '@/components/elements/widgets/WidgetPaginate'

export default {

    components: {
        'paginate': paginate,
    },

    data: function () {
        return {

            per_page_items: [
                {name: 25, value: 25},
                {name: 50, value: 50},
                {name: 100, value: 100},
                {name: 'All', value: null},
            ],

        }
    },

    props: {
        page: {default: 1},
        pages: {default: 1},
    },

}
</script>

<style lang='scss'>

@import '~@/styles/variables.scss';

.table-orders-controls {

    align-items: flex-end;
    display: flex;
    height: 100%;

    .group {

        display: flex;
        height: 100%;

        &:not(:last-of-type) {
            margin-right: 25px;
        }

        .title {
            background-color: $black-pure-alpha-50;
            padding: 0 10px;
        }

    }

    span {
        align-items: center;
        display: flex;
    }

    .control {

        background: $black-pure-alpha-50;
        display: flex;
        list-style: none;
        margin: 0px;
        padding: 0;

        li {

            a {

                align-items: center;
                color: $white;
                display: flex;
                justify-content: center;
                height: 30px;
                outline: none;
                text-decoration: none;
                width: 30px;

                &.active {
                    background-color: $white-alpha-75;
                    color: $black;
                }

                &.disabled {
                    color: $white-alpha-25;
                }

                &:hover:not(.active):not(.disabled) {
                    background-color: $white-alpha-10;
                }

            }

            i {
                line-height: 0px;
            }

        }

    }

}

</style>