<template>
    
    <div class='opportunity'>
                
            <i v-if='!mobile' class='material-icons text-very-large' title="Cache time: 15m">
                query_builder
            </i>

            <i v-on:click="$emit('reload')" class='material-icons text-very-large' title="Refresh data">
                autorenew
            </i>

    </div>

</template>


<style lang="scss">

@import '~@/styles/variables.scss';

.opportunity {

    color: $white-alpha-25;
    display: flex;
    
    i:hover {
        color: $white-alpha-75;
        cursor: pointer;
        user-select: none;
    }

}

</style>
