<template>
    <div v-if='$auth.ready() && !$auth.check()' :class="['authentication', {mobile: mobile}]">

        <widget-modal-scopes v-show='scopes_window' 
            :base='oauth.link'
            v-model='oauth.scoped'
            v-on:close='scopes_window = false'
            v-on:login='$refs.login.click()'/>

        <div v-if='!error' class='auth'>

            <button class='auth-button auth-button-scopes' v-on:click='scopes_window = true'>
                <i class='material-icons'>settings</i>
            </button>

            <a v-bind:href='oauth.scoped' :class="['auth-button', 'auth-button-login']" ref='login'>
                <p class='text-large'>LOGIN</p>
                <p class='text-very-small'>(using game account)</p>
            </a>

        </div>

        <widget-error v-else-if='error' :error='error'/>
        <progress-bar v-else/>

    </div>
</template>

<script>

import ProgressBar from '@/components/elements/ProgressBar';
import UserInfo from '@/components/main/header/UserInfo';
import WidgetError from '@/components/elements/WidgetError';
import WidgetModalScopes from '@/components/elements/widgets/scopes/WidgetModalScopes';

import { api_get_user_auth_link, api_get_user_auth_session } from '@/api/auth.js'

export default {

    components: {
        'progress-bar': ProgressBar,
        'user-info': UserInfo,
        'widget-error': WidgetError,
        'widget-modal-scopes': WidgetModalScopes,
    },

    created: function () {
        
        api_get_user_auth_link()

            .then(response => {

                let data = response.data

                let url = new URL(data.link)
                url.searchParams.append('state', window.location.toString())
                data.link = url.toString()

                data.scoped = data.link

                this.oauth = data
                this.ready = true

            })

            .catch(error => {
                this.error = error
                throw(error)
            })

    },
    
    data: function () {
        return {
            error: null,
            oauth: {created_at: null, link: '', scoped: ''},
            ready: false,
            scopes_window: false,
        }
    },

    methods: {
    }
}

</script>

<style lang="scss">

@import '~@/styles/variables.scss';

$login-button-h: 50px;

.authentication {

    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;

    .auth {

        align-items: center;
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;

        button {

            width: $login-button-h;

            i {
                font-size: 50px;
            }

        }

        .auth-button {
            
            align-items: center;
            background-color: $blue;
            color: $white;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            height: $login-button-h;
            justify-content: center;
            padding: 0 10px;

            &:hover {
                background-color: $white;
                color: $black-text;
            }

            p {
                margin: 0px;
            }

        }

    }


}

.authentication.mobile {

    padding: 0px;

    .auth {

        button, .auth-button {

            background-color: transparent;
            color: $white-alpha-25;

            &:hover {
                color: $white;
            }

        }

    }

}

</style>
