<template>
    <header v-if='!$route.meta.clear' :class='{mobile: mobile}'>
        <auth-view class='header_auth' />
        <info-view class='header_info'/>
        <nav-view class='header_nav'/>
    </header>
</template>

<script>
import Authentication from './Authentication.vue'
import Information from './Information.vue'
import Navigation from './Navigation.vue'

export default {
    components: {
        'auth-view': Authentication,
        'info-view': Information,
        'nav-view': Navigation
    }
}
</script>

<style lang="scss">

@import '~@/styles/variables.scss';

header {

    background-color: $black-dark;
    display: flex;
    height: $header-height;
    width: 100%;

    > div {

        overflow: hidden;

        &.header_info {
            flex: 1;
        }

    }

}

header.mobile {
    height: $header-height-mobile;
}

</style>
