<template>

    <div class='information'>

        <template v-if='$auth.ready() && $auth.check()'>
            <user-info class='user'/>
        </template>

        <progress-bar v-else-if='$auth.token()'/>
        
    </div>

</template>

<script>

import ProgressBar from '@/components/elements/ProgressBar';
import UserInfo from '@/components/main/header/UserInfo';
import WidgetError from '@/components/elements/WidgetError';

import { api_get_user_auth_link, api_get_user_auth_session } from '@/api/auth.js'

export default {

    components: {
        'progress-bar': ProgressBar,
        'user-info': UserInfo,
        'widget-error': WidgetError,
    },

    methods: {
    }
}

</script>


<style lang="scss">

</style>

