<template>
    <div :class="['navigation', {mobile: mobile}]">

        <!-- DESKTOP VERSION -->
        <button v-if='mobile' @click='set_version_desktop()' 
            :class="['navigation-button', {mobile: mobile}]"
            id='navigation-desktop'>

            <i class='material-icons'>mobile_off</i>
            <p v-if='!mobile'>full version</p>

        </button>

        <!-- LOGOUT -->
        <button v-if='$auth.check()' @click='$auth.logout()' 
            :class="['navigation-button', {mobile: mobile}]"
            id='navigation-logout'>

            <i class='material-icons'>exit_to_app</i>
            <p v-if='!mobile'>logout</p>

        </button>

    </div>
</template>


<script>
export default {
    
    methods: {

        set_version_desktop: function() {
            this.$cookies.set('mobile', 'false')
            this.$router.go()
        },

    }

}
</script>


<style lang="scss">

@import '~@/styles/tabs.scss';

.navigation {
    display: flex;
    justify-content: flex-end;
}

.navigation.mobile {
    font-size: $icon-menu-font-size-mobile;
}

</style>

