<template>
    <div v-if='$auth.check()' :class="['user', {mobile: mobile}]">
        <img class='portrait' :src='$auth.user().portrait[128]' :alt='$auth.user().name'>
        <div class='info'>
            <p class='user-name'>{{ $auth.user().name }}</p>
        </div>
    </div>
</template>

<script>

export default {
    props: ['user']
}

</script>

<style lang="scss">

@import '~@/styles/elements.scss';
@import '~@/styles/variables.scss';

.user {

    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
    width: 100%;

    .info {

        box-sizing: border-box;
        display: flex;
        flex: 1;
        flex-direction: column;
        overflow: hidden;
        padding: 5px;

        p {
            margin: 0px;
        }

        .btn-logout {

            background-color: $white-alpha-10;
            height: 25px;
            min-width: 75px;
            width: 50%;

            &:hover {
                background-color: $white-alpha-75;
                color: $black;
            }

        }

        .user-name {
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

    }

    .portrait {
        width: $header-height;
    }
}

.user.mobile {

    .portrait {
        width: $header-height-mobile;
    }

}

</style>