<template>

    <widget-modal-window 
        :class="['widget-modal-scopes', {mobile: mobile}]"
        title='Select permissions' 
        v-on:close="close()"
        closable>

        <div class='widget-modal-scopes-groups'>
            <scopes-group v-for='group in scopes_groups' :key='group.name'
                :group='group'/>
        </div>

        <div class='widget-modal-scopes-controls'>

            <button id='widget-modal-scopes-btn-apply' class='white' v-on:click="apply()">
                Apply
            </button>

            <button class='blue' id='widget-modal-scopes-btn-login' v-on:click="login()">
                Login
            </button>

        </div>

    </widget-modal-window>

</template>

<script>

import WidgetModalWindow from '@/components/elements/widgets/WidgetModalWindow';
import WidgetScopesGroup from '@/components/elements/widgets/scopes/WidgetScopesGroup';

import { api_get_user_auth_link, api_get_user_auth_session } from '@/api/auth.js'
import { api_get_character_scopes_grouped } from '@/api/character.js'

export default {

    components: {
        'scopes-group': WidgetScopesGroup,
        'widget-modal-window': WidgetModalWindow,
    },

    computed: {

        oauth_link_scoped: function() {
            if (this.base) {
                let url = new URL(this.base)
                url.searchParams.append('scope', this.scopes_selected.join(' '))
                return url.toString()
            }
        },

        scopes_selected: function() {

            let selected = []
            for (let group of this.scopes_groups) {
                for (let scope of group.scopes) {
                    if (scope.selected) selected.push(scope.scope)
                }
            }

            return selected

        }

    },

    created: function() {
        this.scopes_load()
    },

    data: function() {
        return {
            oauth: {created_at: null, link: ''},
            scopes: [],
            scopes_groups: [],
        }
    },

    methods: {

        apply: function() {
            this.$emit('input', this.oauth_link_scoped)
            this.$emit('close')
        },

        close: function() {
            this.scopes_reset(this.scopes)
            this.$emit('close')
        },

        login: function() {
            window.location = this.oauth_link_scoped
        },

        scopes_load: function() {

            api_get_character_scopes_grouped()
                
                .then(response => {
                    this.scopes_groups = response.data
                    this.scopes_reset()
                })

                .catch(error => {
                    throw(error)
                })

        },

        scopes_reset: function(scopes) {

            for (let group of this.scopes_groups) {
                for (let scope of group.scopes) {

                    if (scopes) {
                        this.$set(scope, 'selected', scopes.includes(scope.scope))
                    } else {
                        this.$set(scope, 'selected', true)
                        this.scopes = this.scopes_selected.slice()
                    }
                    

                }
            }

            if (!scopes) {
                this.$emit('input', this.oauth_link_scoped)
            }

        }

    },

    props: ['base', 'value'],

    watch: {

        scopes: function(scopes) {
            this.scopes_reset(scopes)
        }

    }

}

</script>

<style lang='scss'>

@import '~@/styles/variables.scss';

.widget-modal-scopes {

    > .window {
        height: 480px;
        width: 640px;
    }

    .window-content {

        display: flex;
        flex-direction: column;

        .widget-modal-scopes-controls {

            display: flex;
            justify-content: space-around;
            width: 100%;

            button {
                margin: 25px auto;
                height: 35px;
                width: 100px;
            }

        }

        .widget-modal-scopes-groups {
            flex: 1;
        }

    }

}

.widget-modal-scopes.mobile {

    .widget-modal-scopes-controls {

        button {
            font-size: $input-fontsize-mobile;
        }

    }

}

</style>
