<template>
    
    <widget-expandable class='widget-scopes-group' :label='group.name'>
        
        <div v-for='scope in group.scopes' :key='scope.scope' class='widget-scopes-group-scope'>

            <div class='widget-scopes-group-scope-checkbox'>

                <button v-on:click='scope.selected = !scope.selected'>
                    <i :class="['material-icons', {selected: scope.selected}]">
                        {{ scope.selected ? 'toggle_on' : 'toggle_off' }}
                    </i>
                </button>

                <input :id='scope.scope' type='checkbox' v-model='scope.selected'>

                <div class='widget-scopes-group-scope-text'>
                    <label :for='scope.scope'>{{ scope.scope }}</label>
                    <p class='text-small'>
                        {{ scope.description }}
                    </p>
                </div>

            </div>

        </div>

    </widget-expandable>

</template>


<script>

import WidgetExpandable from '@/components/elements/widgets/WidgetExpandable'

export default {

    components: {
        'widget-expandable': WidgetExpandable,
    },

    props: ['group'],
}

</script>


<style lang="scss">

@import '~@/styles/variables.scss';

.widget-scopes-group {


    .widget-scopes-group-scope {

        display: flex;
        flex-direction: column;
        margin: 10px 0;

        .widget-scopes-group-scope-checkbox {

            align-items: flex-start;
            display: flex;

            button {
                background-color: transparent;
                height: $input-height;
            }
        

            i {

                color: $grey;
                padding: 0 10px;

                &.selected {
                    color: $blue;
                }

            }

            input[type='checkbox'] {
                display: none;
            }

            .widget-scopes-group-scope-text {

                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                padding-right: 10px;

                label {
                    cursor: pointer;
                    display: inline-block;
                    height: $input-height;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                p {
                    color: $grey;
                    text-align: justify;
                }

            }

        }

    }

}

</style>
