@import '~@/styles/variables.scss';

@keyframes progressbar {
    0% {
        left: -$progress-bar-inner-length;
    }
    100% {
        left: $progress-bar-length;
    }
}

@keyframes menu-item-loading {
    0% {
        right: 100%;
        opacity: 0.25;
    }
    100% {
        right: 0%;
        opacity: 0;
    }
}