@import '~@/styles/variables.scss';

a {
    color: inherit;
    outline: none;
    text-decoration: none;
}


a.navigation-button, button.navigation-button {

    background-color: transparent;
    border: 0px solid transparent;
    border-radius: 0px;
    color: $white;
    cursor: pointer;
    font-size: $input-fontsize;
    height: $header-height;
    outline: none;
    overflow: hidden;
    padding: 0px;
    position: relative;
    width: $header-height;

    &.mobile {
        height: $header-height-mobile;
        width: $header-height-mobile;
    }

    &:hover:not(:disabled) {

        background-color: transparent;

        i {
            color: $white;
        }

        p {
            color: $white;
        }

    }

    i {
        color: $white-alpha-25;
        font-size: 35px;
    }

    p {
        color: $white-alpha-25;
        margin: 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

}

button {

    background-color: $black-pure-alpha-50;
    border: 0px solid $white-alpha-10;
    border-radius: 0px;
    color: $white;
    cursor: pointer;
    font-size: $input-fontsize;
    height: $input-height;
    outline: none;
    padding: 0px;

    &:disabled {
        background-color: $black-pure-alpha-25;
        color: $white-alpha-25;
    }

    &:hover:not(:disabled) {
        background-color: $white-alpha-75;
        color: $black-text;
    }

    &::-moz-focus-inner {
        border: 0;
    }

}


button.blue {

    background-color: $blue;

    &:disabled {
        background-color: $blue-alpha-10;
    }

    &:hover:not(:disabled) {
        background-color: $white;
        color: $black-text;
    }

}

button.white {

    background-color: $white-alpha-05;

    &:hover:not(:disabled) {
        background-color: $white;
        color: $black-text;
    }

}

datalist {
    
    background-color: red;

    option: {
        background-color: none;
    }
}

input {

    background-color: $black-pure-alpha-50;
    border: 1px solid $black;
    box-sizing: border-box;
    color: $white;
    height: $input-height;
    font-size: $input-fontsize;
    outline: none;
    padding: 5px;
    transition: background-color linear 0.1s;

    &:disabled {
        background-color: transparent;
        border: none;
    }

    &:focus {
        border: 1px solid $blue-alpha-50;
    }

    &::placeholder {
        color: $white-alpha-50;
    }

    &::selection {
        background: $white-alpha-75;
        color: $black-text;
    }

    &.invalid {
        border: 1px solid $red;
    }

    &.mobile {
        // border: 1px solid $white-alpha-10;
        font-size: $input-fontsize-mobile;
        height: $input-height-mobile;
        padding: 10px;
    }

}
