@font-face {
    font-family: 'Eve-Sans-Neue-Exp';
    src: url(./assets/fonts/evesansneue-expanded.otf);
}

@font-face {
    font-family: 'Eve-Sans-Neue';
    src: url(./assets/fonts/evesansneue-expanded.otf);
}

/* ========= */
/* TEXT SIZE */
/* ========= */
.text-very-large {
    font-size: 2.00em;
    margin: 0px;
}

.text-large {
    font-size: 1.25em;
    margin: 0px;
}

.text-medium {
    font-size: 1.00em;
    margin: 0px;
}

.text-small {
    font-size: 0.75em;
    margin: 0px;
}

.text-very-small {
    font-size: 0.65em;
    margin: 0px;
}

/* ========== */
/* TEXT ALIGN */
/* ========== */
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}