@import '~@/styles/variables.scss';

.tabs-component {

    background-color: $black-pure-alpha-50;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .tabs-component-panels {

        flex: 1;

        section {

            height: 100%;
            position: relative;
            width: 100%;

        }

    }

    .tabs-component-tabs {

        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding: 0;

        .tabs-component-tab {

            background-color: $black-pure-alpha-50;
            border-bottom: 1px solid $white-alpha-10;
            flex: 1;

            &:hover {

                color: $black-text;
                background-color: $white-alpha-75;

                a {
                    opacity: 1;
                }

            }

            &:not(:last-child) {
                border-right: 1px solid $white-alpha-10;
            }

            a {
                align-items: center;
                color: inherit;
                display: flex;
                height: 30px;
                justify-content: center;
                opacity: 0.5;
                outline: 0px;
                text-decoration: none;
                user-select: none;
                width: 100%;

            }

            &.is-active {

                background: none;
                border-bottom: none;

                a {
                    color: $white;
                    opacity: 1;
                }

            }
            
            &.is-disabled {
                display: none;
            }

        }

    }

}

.mobile .tabs-component {

    .tabs-component-tabs {

        .tabs-component-tab:hover {
            color: inherit;
            background-color: inherit;
        }

    }

}