/* color */
$black:                 rgb(15, 15, 15);
$black-alpha-50:        rgba(15, 15, 15, 0.5);
$black-dark:            rgb(10, 10, 10);
$black-pure-alpha-25:   rgba(0, 0, 0, 0.25);
$black-pure-alpha-50:   rgba(0, 0, 0, 0.5);
$black-pure-alpha-75:   rgba(0, 0, 0, 0.75);
$black-pure-alpha-90:   rgba(0, 0, 0, 0.90);
$black-text:            rgb(40, 40, 40);
$blue:                  rgb(40, 130, 185);
$blue-alpha-10:         rgba(40, 130, 185, 0.10);
$blue-alpha-50:         rgba(40, 130, 185, 0.50);
$green:                 rgb(50, 200, 50);
$grey:                  rgb(120, 120, 120);
$red:                   rgb(200, 50, 50);
$yellow-alpha-50:       rgba(255, 255, 0, 0.50);
$yellow-alpha-25:       rgba(255, 255, 0, 0.25);
$white:                 rgb(240, 240, 240);
$white-alpha-05:        rgba(240, 240, 240, 0.05);
$white-alpha-10:        rgba(240, 240, 240, 0.10);
$white-alpha-25:        rgba(240, 240, 240, 0.25);
$white-alpha-50:        rgba(240, 240, 240, 0.50);
$white-alpha-75:        rgba(240, 240, 240, 0.75);

/* color for security status */
$sec10: #2FEFEF;
$sec09: #48F0C0;
$sec08: #00EF47;
$sec07: #00F000;
$sec06: #8FEF2F;
$sec05: #EFEF00;
$sec04: #D77700;
$sec03: #F06000;
$sec02: #F04800;
$sec01: #D73000;
$sec00: #F00000;


/* containers size */
$header-height: 75px;
$header-height-mobile: 50px;

$footer-height: 50px;
$footer-height-mobile: 35px;


/* gui size */

$input-fontsize: 12px;
$input-fontsize-mobile: 16px;

$input-height: 25px;
$input-height-mobile: 35px;

$material-icon-fontsize-mobile: 25px;

$icon-menu-font-size: 18px;
$icon-menu-font-size-mobile: 24px;


$link-button-h: 30px;
$link-button-w: 150px;

$menu-min-width: 250px;

$progress-bar-heigth: 5px;
$progress-bar-inner-length: 50px;
$progress-bar-length: 100px;
