<template>

    <div class='widget-tree-menu'>

        <widget-tree-menu-node v-for='item in items' 
            :key='item.id' 
            :node='item'
            :selected='selected ? item.id == selected.id : false'
            v-on:select="$emit('item', item)"/>

        <div v-for='group in groups' :key='group.id'>

            <widget-tree-menu-node 
                :node='group'
                :selected='group == selected'
                v-on:select="group_select(group)"/>

            <div v-if='group.expanded' class='widget-tree-menu-nodes'>

                <div class='widget-tree-menu-expander' v-on:click="$set(group, 'expanded', !group.expanded)"/>
                <widget-tree-menu 
                    @item="$emit('item', $event)"
                    @group="$emit('group', $event)"
                    :items='group.items' 
                    :groups='group.groups' 
                    :remote='remote'
                    :selected='selected'
                    class='widget-tree-menu-submenu'/>

            </div>

        </div>

    </div>

</template>

<script>

import WidgetTreeNode from '@/components/elements/widgets/treemenu/WidgetTreeNode'


export default { 

    components: {
        'widget-tree-menu-node': WidgetTreeNode,
    },

    methods: {

        group_error(group, error) {
            this.$set(group, 'error', error)
            this.$set(group, 'loading', false)
        },

        group_loaded(group, data) {

            this.$set(group, 'groups', data.groups)
            this.$set(group, 'items', data.items)

            this.$set(group, 'expanded', true)
            this.$set(group, 'loaded', true)

            this.$set(group, 'error', null)
            this.$set(group, 'loading', false)

        },

        group_select(group) {

            if (this.remote && !group.loaded) {

                this.$set(group, 'error', null)
                this.$set(group, 'loading', true)

                let payload = {caller: this, group: group}
                this.$emit('group', payload)

            } else {
                this.$set(group, 'expanded', !group.expanded)
            }

        },

    },

    name: 'widget-tree-menu',
    props: {
        groups: {},
        items: {},
        remote: {default: false, type: Boolean},
        selected: {},
    }
}

</script>


<style lang="scss">

@import '~@/styles/variables.scss';

.widget-tree-menu {

    .widget-tree-menu-nodes {

        display: flex;
        flex-direction: row;

        .widget-tree-menu-submenu {
            flex: 1;
        }

        .widget-tree-menu-expander {

            background-color: $black-pure-alpha-25;
            cursor: pointer;
            width: 10px;

            &:hover {
                background-color: $white-alpha-50;
                color: $black-text;
            }

        }

    }

}

</style>