<template>
    
    <div :class="['widget-tree-menu-node', {mobile: mobile, selected: selected}]" v-on:click="$emit('select')">

        <progress-line :error='node.error' :show='node.loading'/>

        <div v-if="is_group" :class="['expandable', {expanded: node.expanded, mobile: mobile}]">
            <i class='material-icons'>chevron_right</i>
        </div>

        <img class='image' v-if='false && node.image' :alt='node.name' :src='node.image'>

        <div class='label'>
            <p :class="{mobile: mobile}">{{ node.name }}</p>
        </div>

    </div>

</template>


<script>

import ProgressLine from '@/components/elements/ProgressLine'

export default {
    
    components: {
        'progress-line': ProgressLine,
    },

    computed: {

        is_group: function() {

            let has_groups = this.node.groups && this.node.groups.length
            let has_items = this.node.items && this.node.items.length

            return has_groups || has_items
            
        }

    },

    props: ['node', 'selected']

}

</script>


<style lang="scss">

@import '~@/styles/variables.scss';

.widget-tree-menu-node {

    align-items: center;
    cursor: pointer;
    display: flex;
    height: $input-height;
    position: relative;
    user-select: none;

    &:hover {
        background-color: $white-alpha-75;
        color: $black-text;
    }

    &.mobile {
        height: 30px;
    }

    &.selected {
        background-color: $blue;
        color: $white;
    }

    p {

        font-size: $input-fontsize;
        line-height: 0px;
        padding: 0 10px;
        white-space: nowrap;
        z-index: 1;

        &.mobile {
            font-size: $input-fontsize-mobile;
        }

    }

    .expandable {

        align-items: center;
        display: flex;
        height: $input-height;
        justify-content: center;
        transition: transform 0.5s;
        width: 20px;

        &.expanded {
            transform: rotate(90deg);
        }

        &.mobile {

            height: $input-height-mobile;

            i {
                font-size: 20px;
            }

        }

        * {
            margin: auto;
        }

        i{
            font-size: 16px;
        }

    }

}

</style>
