<template>
    
    <div :class="['login-page', {mobile: mobile}]">
        <window id='login' title='Authorization'>

            <div class='login-page-content'>

                <div v-if='!(error || success)' class='request'>
                    <p>
                        Now we are requesting data about your ingame character to authorizate you.
                        After complete you will be automaticly redirect to main page.
                    </p>
                    <progress-bar/>
                </div>

                <div v-else class='result'>

                    <div class='status'>

                        <template v-if='success'>
                            <i class='material-icons' id='success'>check_circle_outline</i>
                            <div class='character'>
                                <img :alt='$auth.user().name' :src='$auth.user().portrait[128]'>
                                <p>{{ $auth.user().name }}</p>
                            </div>
                        </template>

                        <i v-if='error' class='material-icons' id='fail'>cancel</i>

                    </div>

                    <p class='text-small'>
                        Now you will be redirect to main page. 
                        If it doesn't happen you should manualy click
                        <router-link :to="{ name: 'market-orders' }">here</router-link>
                    </p>

                </div>

            </div>

        </window>
    </div>

</template>


<script>

import ProgressBar from '@/components/elements/ProgressBar'
import Window from '@/components/elements/Window'

export default {
    
    components: {
        'progress-bar': ProgressBar,
        'window': Window,
    },

    created: function() {

        if (this.$auth.check()) {
            this.fetch()
        } else {
            this.login()
        }

    },

    data: function() {
        return {
            code: null,
            error: false,
            success: false,
        }
    },

    methods: {

        fetch: function() {

            this.$auth.fetch({

                error: function() {
                    this.error = true
                    setTimeout(this.redirect, 2000)
                },

                success: function() {
                    this.success = true
                    setTimeout(this.redirect, 2000)
                }
            })

        },

        login: function() {

            let data = {
                code: this.$route.query.code
            }

            this.$auth.login({

                data: data,
                rememberMe: true,
                redirect: null,
                fetchUser: false,

                error: function() {
                    this.error = true
                    setTimeout(this.redirect, 2000)
                },

                success: function() {
                    this.fetch()
                }
            })

        },

        redirect: function() {
            this.$router.push('market-orders')
        }

    },

}

</script>


<style lang="scss">

@import '~@/styles/variables.scss';

.login-page {

    align-items: center;
    background-color: $black-pure-alpha-50;
    background-image: url('/static/img/market_background.jpeg');
    background-blend-mode: darken;
    background-position: center, center;
    background-size: cover;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;

    .window#login {

        height: 420px;
        width: 560px;

        .login-page-content {

            display: flex;
            flex-direction: column;
            height: 100%;
            position: relative;

            p {
                text-align: justify;
                text-align-last: center;
            }

            .result {

                display: flex;
                flex: 1;
                flex-direction: column;

                p {

                    justify-self: end;

                    a {
                        color: $blue;
                        font-weight: bold;
                        text-decoration: none;
                    }

                }

                .status {

                    align-items: center;
                    display: flex;
                    flex: 1;
                    justify-content: center;

                    i {

                        font-size: 128px;
                        text-align: center;

                        &#fail {
                            color: $red;
                        }

                        &#success {
                            color: $green;
                        }

                    }

                    .character {

                        height: 128px;
                        position: relative;
                        width: 128px;

                        p {
                            background-color: $black-pure-alpha-75;
                            bottom: 0px;
                            margin: 0px;
                            position: absolute;
                            left: 0px;
                            overflow: hidden;
                            right: 0px;
                            text-align: center;
                            text-overflow: ellipsis;
                        }

                    }

                }

            }

            .timer {
                width: 100%;
            }

        }

    }

}

.login-page.mobile {

    .window#login {
        bottom: 0px;
        height: 100%;
        left: 0px;
        position: fixed;
        top: 0px;
        width: 100%;
    }

}

</style>
