<template>
    <footer v-show='!mobile'>

        <div class='filler'/>

        <button v-on:click='set_version_mobile()' :class="['navigation-button', {mobile: mobile}]">
            <i class='material-icons'>stay_current_portrait</i>
            <p>mobile</p>
        </button>

    </footer>
</template>


<script>
export default {
    
    methods: {

        set_version_mobile: function() {
            this.$cookies.set('mobile', 'true')
            this.$router.go()
        },

    }

}
</script>



<style lang="scss">

@import '~@/styles/variables.scss';

footer {

    align-items: center;
    background-color: $black-dark;
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    height: $footer-height;
    width: 100%;

    .filler {
        flex: 1;
    }

    button.navigation-button {
        
        height: $footer-height;
        width: $footer-height;

        i {
            font-size: 20px;
        }

    }

}

footer.mobile {
    height: $footer-height-mobile;
}

</style>