<template>
    
    <div class='input-clearable'>

        <input 
            :class="{invalid: error, mobile: mobile}" 
            :placeholder="placeholder"
            ref='input'
            v-on:blur="$emit('blur')"
            v-on:click.self="$emit('focus')"
            v-on:focus="$emit('focus')"
            v-on:keyup.enter="$emit('enter')"
            v-on:keyup.esc="$emit('esc')"
            v-model='value_dirty'>

        <a v-if='value_dirty' @click='clear' :class='{mobile: mobile}' href='javascript:;'>
            <i class='material-icons'>close</i>
        </a>

        <p class='error text-small'>{{ error }}</p>

    </div>

</template>


<script>

export default {

    computed: {

        focus: function() {

        }

    },

    data: function() {
        return {
            value_throttle: false,
            value_dirty: this.value,
        }
    },

    props: {
        debounce: {default: 1}, 
        error: {},
        placeholder: {}, 
        value: {},
    },

    methods: {

        clear: function() {
            this.value_dirty = ''
            this.save_changes()
        },

        save_changes: function() {
            this.value_throttle = false
            this.$emit('input', this.value_dirty)
        },

    },

    watch: {

        value: function() {
            this.value_dirty = this.value
        },

        value_dirty: function() {
            if (this.value != this.value_dirty && !this.value_throttle) { 
                setTimeout(this.save_changes, this.debounce)
                this.value_throttle = true
            }
        }

    }

}

</script>


<style lang="scss">

@import '~@/styles/variables.scss';

.input-clearable {

    position: relative;

    a {

        bottom: 0px;
        color: $red;
        display: block;
        height: $input-height;
        margin: auto;
        opacity: 0.5;
        outline: none;
        position: absolute;
        top: 0px;
        right: 0px;
        width: $input-height;
        z-index: 10;

        &:hover {
            opacity: 1;
        }

        &.mobile {

            height: $input-height-mobile;
            width: $input-height-mobile;

            i {
                font-size: $material-icon-fontsize-mobile;
                height: $input-height-mobile;
                width: $input-height-mobile;
            }

        }

        i {
            align-items: center;
            display: flex;
            font-size: $input-fontsize;
            justify-content: center;
            height: $input-height;
            width: $input-height;
        }

    }

    input {

        padding-right: $input-height;
        width: 100%;
        z-index: 5;

        &.mobile {
            padding-right: $input-height-mobile;
        }

    }

    p.error {
        color: $red;
        position: absolute;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }

}
        
</style>

