<template>
    
    <div :class="['input-with-options', {focus: focus, mobile: mobile}]">
            
        <div class='input-with-options-input'>

            <input-clearable 
                :debounce='debounce'
                :error='error_to_show'
                :value='value'
                v-model='search_string'
                v-on:blur='focus = false'
                v-on:enter='select(options.length ? options[0] : null)'
                v-on:esc='foces = false'
                v-on:focus='focus = true'/>

            <progress-line 
                :error='error' 
                :show="loading" 
                :trigger='search_string'
                class='input-with-options-progress-line'/>
        </div>

        <div v-if='focus' :class="['input-with-options-options', {mobile: mobile}]">
            <div class='input-with-options-options-wrapper'>

                <vue-scroll :ops='scroll_config' class='input-with-options-options-scroll'>

                    <ul class='input-with-options-options-list text-small'>
                        <li v-for='option in options' :key='option.id' 
                            :class="['input-with-options-option-item', {mobile: mobile}]">
                            <a href='javascript:;' v-on:mousedown="select(option)">
                                {{ option.name }}
                            </a>
                        </li>
                    </ul>

                </vue-scroll>

            </div>
        </div>

        <button v-if='mobile && focus' class='input-with-options-mobile-controls' v-on:click='focus = false'>
            <i class='material-icons'>block</i>
        </button>

    </div>

</template>


<script>

import InputClearable from '@/components/elements/inputs/InputClearable'
import ProgressLine from '@/components/elements/ProgressLine'

export default {

    components: {
        'input-clearable': InputClearable,
        'progress-line': ProgressLine,
    },

    computed: {

        error_to_show: function() {
            let show = (!this.loading && !this.focus) || this.error === "Network Error"
            return show ? (this.error || this.error_internal) : null
        }

    },

    data: function() {
        return {
            error_internal: null,
            focus: false,
            search_string: '',
            selected: null,
            source: null,
        }
    },

    methods: {

        load: function() {
            this.$emit('load', this.search_string)
        },

        select: function(option) {
            this.focus = false
            this.search_string = option.name
        },

        select_from_option: function() {

            this.error_internal = null
            this.selected = null
            
            if (!this.search_string) {
                return
            }

            for (let item of this.options) {
                if (item.name.toLowerCase() == this.search_string.toLowerCase()) {
                    this.selected = item[this.value_key]
                    return
                }
            }

            this.error_internal = `Not found match for '${this.search_string}'`

        },

    },

    props: {
        debounce: {},
        error: {},
        loading: {default: false, type: Boolean},
        options: {},
        remote: {default: false, type: Boolean},
        value_key: {default: 'value'},
        value: {},
    },

    watch: {

        options: function() {
            this.select_from_option()
        },

        search_string: function() {

            if (this.remote) {
                this.load()
            } else {
                this.select_from_option()
            }

        },

        selected: function(value) {
            this.$emit('input', value)
        },

    }

}
</script>


<style lang="scss">

@import '~@/styles/variables.scss';

.input-with-options {

    position: relative;

    &.focus.mobile {

        background-color: $black-pure-alpha-75;
        bottom: 0px;
        display: flex;
        flex-direction: column;
        left: 0px;
        max-height: none;
        overflow: hidden;
        position: fixed;
        right: 0px;
        top: 0px;
        z-index: 1000;

        .input-with-options-input input.mobile {
            background-color: $black-pure-alpha-75;
            border: 0px solid transparent;
            border-bottom: 2px solid $blue-alpha-50;
        }

    }
    
    .input-with-options-input {
        position: relative;
    }

    .input-with-options-options {

        background-color: $black-pure-alpha-75;
        border: 1px solid $black;
        border-top: none;
        box-sizing: border-box;
        display: flex;
        max-height: 500%;
        overflow: hidden;
        position: absolute;
        width: 100%;
        z-index: 1000;

        &.mobile {

            background-color: $black-pure-alpha-25;
            border: 1px solid transparent;
            display: block;
            flex: 1;
            position: relative;

            .input-with-options-options-wrapper {
                height: 100%;
            }

        }
        
        .input-with-options-options-wrapper {
            
            overflow: hidden;
            position: relative;
            width: 100%;

            ul.input-with-options-options-list {

                margin: 0px;
                padding: 0px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                li.input-with-options-option-item {

                    font-size: $input-fontsize;
                    list-style: none;

                    &:hover {
                        background-color: $white-alpha-75;
                        color: $black-text;
                    }

                    &.mobile {
                        height: 30px;
                        font-size: $input-fontsize-mobile;
                    }

                    a {
                        align-items: center;
                        box-sizing: border-box;
                        display: flex;
                        height: 100%;
                        padding: 3px 5px;
                    }

                }

            }

        }

    }

    .input-with-options-mobile-controls {
        background-color: $black-pure-alpha-75;
        height: $input-height-mobile;
        width: 100%;
    }

}

</style>

