<template>
    <div class='index-block'>

        <div class="text-large">
            ABCD!
        </div>
        <div class="text-large" style="font-family: 'Eve-Sans-Neue-Exp'">
            ABCD!
        </div>

        <tabs :options='{ useUrlFragment: false }'>
            <tab name="First tab">
                First tab content
            </tab>
            <tab name="Second tab">
                Second tab content
            </tab>
            <tab name="Third tab">
                Third tab content
            </tab>
        </tabs>

    </div>
</template>

<script>

import {Tab, Tabs} from 'vue-tabs-component';

export default {
    components: {
        Tab, Tabs
    }
}

</script>
