<script>
export default {
    data: function() {
        return {

            scroll_config: {

                bar: {
                    showDelay: 500,
                    vBar: {
                        background: '#ffffff',
                        keepShow: false,
                        opacity: 0.5,
                        hover: true
                    },
                    hBar: {
                        background: '#ffffff',
                        keepShow: false,
                        opacity: 0.5,
                        hover: true
                    }
                },

                rail: {
                    hRail: {
                        background: '#000000',
                        height: '10px',
                        opacity: 0,
                        pos: 'right',
                    },
                    vRail: {
                        background: '#000000',
                        opacity: 0,
                        pos: 'right',
                        width: '10px',
                    }
                },
            },

        }
    },
};
</script>

<style lang="scss">

.vuescroll-horizontal-rail {
    border-radius: 0px !important;
    bottom: 0px !important;
    left: 0px !important;
    right: 0px !important;
}

.vuescroll-vertical-rail {
    border-radius: 0px !important;
    bottom: 0px !important;
    top: 0px !important;
    right: 0px !important;
}

</style>