<template>

    <div v-if='item' class='item-info'>

        <img class='image' :src='item.image[64]' :alt='item.name'>

        <div class='information'>
            <div class='name text-large'>{{ item.name }}</div>
            <div class='future'></div>
        </div>

    </div>

</template>

<script>

import ProgressBar from '@/components/elements/ProgressBar';
import WidgetError from '@/components/elements/WidgetError';

export default {

    components: {
        'progress-bar': ProgressBar,
        'widget-error': WidgetError,
    },

    data: function () {
        return {
            error: null,
            item_info: {},
            loading: false,
        }
    },

    props: ['item'],
    
}

</script>

<style lang='scss'>

@import '~@/styles/variables.scss';

.item-info {

    display: flex;
    flex-direction: row;
    height: 64px;
    overflow: hidden;
    width: 100%;

    .image {
        height: 64px;
        width: 64px;
    }

    .information {

        display: flex;
        flex: 1;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
        padding: 0 10px;

        .future {
            flex: 1;
        }

        .name {

            align-items: center;
            height: 30px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

        }

    }

}

</style>