<template>
    <div class='widget-progressbar'>
        <div class='progress-bar'>
            <div></div>
        </div>
    </div>
</template>

<style lang="scss">

@import '~@/styles/variables.scss';

.widget-progressbar {

    display: flex;
    height: 100%;
    width: 100%;

    .progress-bar {

        background-color: $white-alpha-10;
        border: 1px solid $black-dark;
        box-sizing: border-box;
        height: $progress-bar-heigth;
        margin: auto;
        overflow: hidden;
        width: $progress-bar-length;

        div {
            animation: progressbar 3s infinite ease-in-out;
            background-color: $blue;
            content: ' ';
            position: relative;
            height: 100%;
            width: $progress-bar-inner-length;
        }
    }
}

</style>