<template>
    <transition name="loader" appear>
        <div v-if='enabled' :class="['loader', { fail: error }]" :key='trigger'/>
    </transition>
</template>

<script>

export default { 

    data: function() {
        return {
            enabled: false,
        }
    },

    methods: {
        toggle: function(value) {
            this.enabled = value
        }
    },

    props: ['error', 'show', 'trigger'],

    watch: {
        show: function(value) {
            this.$nextTick(() => {this.enabled = value});
        }
    }

}

</script>

<style lang="scss">

@import '~@/styles/variables.scss';

    .loader {

        background-color: $blue;
        bottom: 0;
        height: 2px;
        left: 0;
        opacity: 1;
        position: absolute;
        right: 50%;

        &.fail {
            background-color: $red;
        }

        &.loader-enter {
            right: 100%;
            opacity: 1;
        }

        &.loader-enter-active {
            transition: right 15s linear, opacity 1s;
        }

        &.loader-leave {
            right: 100%;
            opacity: 1;
        }

        &.loader-leave-active {
            transition: right 1s ease-out, opacity 1s;
        }

        &.loader-leave-to {
            opacity: 0;
            right: 0%;
        }

    }

</style>