<template>
    <div class='widget-error'>
        <div>
            <i class='material-icons'>cancel</i>
            <p class="text-small">{{ error.message }}</p>
        </div>
    </div>
</template>

<script>

import Cross from '@/assets/svg/Cross'

export default {

    components: {
        'svg-cross': Cross,
    },
    props: ['error']

}

</script>

<style lang="scss">

@import '~@/styles/variables.scss';

.widget-error {

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;

    div {
        text-align: center;
    }

    i {
        color: $red;
        flex: 2;
        font-size: 45px;
    }

    p {
        flex: 1;
    }

}

</style>
