<template>
    
    <div :class="['window', {error: error, mobile: mobile}]">

        <div class='window-header'>

            <div class='window-header-title text-large'>
                <slot name='title'>{{ title }}</slot>
            </div>

            <button v-if='closable' class='window-header-close' v-on:click="$emit('close')">
                <i class='material-icons'>close</i>
            </button>

        </div>

        <div class='window-content-wrapper'>
            <vue-scroll :ops='scroll_config' class='window-content-scroll'>

                <div class='window-content'>

                    <slot/>

                    <div v-if='apply' :class="['window-apply', {mobile: mobile}]">
                        <button class='blue text-medium' v-on:click="$emit('apply')">Apply</button>
                    </div>

                </div>

            </vue-scroll>

        </div>

    </div>

</template>


<script>

export default {
    props: {
        apply: Boolean,
        closable: Boolean,
        error: {},
        title: String,
    }
}

</script>



<style lang="scss">

@import '~@/styles/variables.scss';

.window {

    background-color: $black-pure-alpha-75;
    border: 2px solid $black-pure-alpha-75;
    box-shadow: inset 0px -4px 0px -2px $white-alpha-10;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &.error {
        box-shadow: inset 0px -4px 0px -2px $red;
    }

    .window-content-wrapper {

        box-sizing: border-box;
        flex: 1;
        overflow: hidden;

        .vuescroll-content {

            display: flex;
            width: 100% !important;

            .window-content {

                box-sizing: border-box;
                flex: 1;
                overflow: hidden;
                padding: 10px;

                .window-apply {

                    text-align: center;

                    button {
                        margin: 25px auto;
                        height: 35px;
                        width: 100px;
                    }

                }

            } 

        }

    }

    .window-header {

        align-items: center;
        border-bottom: 2px solid $white-alpha-10;
        display: flex;
        position: relative;

        button.window-header-close {

            background-color: transparent;
            height: $input-height;
            width: $input-height;

            &:hover i {
                color: $white;
            }

            i {
                color: $white-alpha-50
            }

        }

        .window-header-title {
            flex: 1;
            padding: 0 10px;
            text-transform: uppercase;
        }

    }

}

.window.mobile {

    height: unset;
    width: unset;

    .window-content {
        
        .window-apply button {
            font-size: $input-fontsize-mobile;
        }

    }

    .window-header .window-header-close {
        height: $input-height-mobile;
        width: $input-height-mobile;
    }

}

</style>
