<template>
    <div id="app" :class='{mobile: mobile}'>

        <template>
            <header-view/>
            <div class='content'>
                <router-view v-if='$auth.ready()' class='content-router'/>
                <progress-bar v-else />
            </div>
            <footer-view/>
        </template>

    </div>
</template>

<script>

import Footer from './components/main/Footer.vue'
import Header from './components/main/header/Header.vue'
import ProgressBar from '@/components/elements/ProgressBar'

export default {

    components: {
        'footer-view': Footer,
        'header-view': Header,
        'progress-bar': ProgressBar,
    },

    name: 'App',

}

</script>

<style lang="scss">

@import '~@/styles/elements.scss';
@import '~@/styles/fonts.scss';
@import '~@/styles/variables.scss';

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: $black;
    margin: 0px;
    overflow: auto;
}

a {
    text-decoration: none;
}

#app {

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    color: $white;
    background-color: $black;
    display: flex;
    flex-direction: column;
    font-family: 'Eve-Sans-Neue';
    height: 100%;
    min-height: 500px;
    min-width: 1000px;
    width: 100%;

    &.mobile {
        min-height: unset;
        min-width: unset;
    }

    .content {
        flex: 1;
        overflow-x: auto;
    }

}

</style>
